<div class="py-12 bg-white flex flex-col md:flex-row gap-5 px-20 items-start justify-evenly">
    <div class="w-1/2 bg-white flex flex-col gap-5 px-6 pt-6">
        <h2 class="mt-2 text-2xl leading-8 font-semibold tracking-tight text-gray-900 sm:text-4xl">Complete Your Booking :-)</h2>
        <p class="mt-4 max-w-2xl text-xl font-bold text-darkgray-800 ">Flight Name:
            <span class="font-medium">{{flight_name}}</span>
        </p>
        <p class="mt-4 max-w-2xl text-xl font-bold text-gray-900 ">Journey from:
            <span class="font-semibold">{{source}}</span>
        </p>
        <p class="mt-4 max-w-2xl text-xl font-bold text-gray-900 ">
            Journey To:
            <span class="font-semibold">{{dest}}</span>
        </p>
        <p class="mt-4 max-w-2xl text-xl font-bold text-gray-900 ">
            Departure:
            <span class="font-semibold">{{departure}}</span>
        </p>
        <p class="mt-4 max-w-2xl text-xl font-bold text-gray-900 ">
            Arrival:
            <span class="font-semibold">{{arrival}}</span>
        </p>
    </div>
    <form class="flex flex-col w-1/2" [formGroup]="multiple_passenger" (ngSubmit)="confirmBooking()">
        <div formArrayName="passengers" *ngFor="let t of passengers.controls; let i = index">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <div class="flex flex-row justify-between items-center mb-8">
                    <h1 class="text-2xl text-medium ">Passenger {{i+1}}</h1>
                    <div class="flex flex-end justify-end pt-4" *ngIf="i>0">
                        <button (click)="removePassenger(i)" class="w-60 h-10 bg-blue-500 text-white font-semibold rounded-lg text-sm">Remove Passenger</button>
                    </div>        
                </div>
                <div class="grid grid-cols-2 gap-6" [formGroupName]="i">
                    <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" formControlName="first_name" id="{{'first_name' + 1}}" placeholder="First Name" />
                    <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" formControlName="last_name" id="{{'last_name' + 1}}" placeholder="Last Name" />
                    <input type="email" class="block border border-grey-light w-full p-3 rounded mb-4" formControlName="email" id="{{'email' + 1}}" placeholder="Email" />
                    <input type="tel" class="block border border-grey-light w-full p-3 rounded mb-4" formControlName="phone" id="{{'phone' + 1}}" placeholder="Phone Number" />
                    <input type="number" class="block border border-grey-light w-full p-3 rounded mb-4" formControlName="age" id="{{'age' + 1}}" placeholder="Age" />
                    <!-- <select class="block border border-grey-light w-full p-3 rounded mb-4" formControlName="gender" id="{{'gender' + 1}}" >
                        <option value="" selected disabled>Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select> -->
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-between items-center md:flex-row">
            <p class="flex flex-row mt-4 max-w-2xl text-2xl text-gray-900 font-bold">Total Amount: -
                <span class="text-xl flex h-8 p-3 ml-2 border border-gray-700 rounded-lg items-center font-semibold">Rs
                    {{total_fare}}/-
                </span>
            </p>
            <div class="flex flex-end justify-end pt-4">
                <button type="button" (click)="onAddPassenger()" class="w-60 h-10 bg-purple-500 text-white font-semibold rounded-lg text-sm">Add New Passenger</button>
            </div>
        </div>
        <div class="flex flex-row justify-between mt-6">
            <div class="flex flex-col gap-2">
                <p class="text-lg text-semibold">Select Payment Method:
                </p>
                <div class="flex flex-row gap-6">
                    <div class="flex flex-row gap-2 items-center justify-center ">
                        <input type="radio" id="paytm" formControlName="payment" value="paytm">
                        <label for="paytm">Paytm</label><br>
                    </div>
                    <div class="flex flex-row gap-2 items-center justify-center ">
                        <input type="radio" id="gpay" formControlName="payment" value="gpay">
                        <label for="gpay">Google Pay</label><br>
                    </div>
                    <div class="flex flex-row gap-2 items-center justify-center ">
                        <input type="radio" id="phonepe" formControlName="payment" value="phonepe">
                        <label for="phonepe">PhonePe</label>
                    </div>
                </div>
            </div>
            <input type="hidden" formControlName="username" value="{{username}}">
            <input type="hidden" formControlName="trip" value="{{tripId}}">
            <input type="hidden" formControlName="flight" value="{{flightId}}">
            <input type="hidden" formControlName="total_fare" value="{{total_fare}}">
            <button type="submit" class="w-full md:w-60 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Book Now!</button>
        </div>
    </form>
</div>
