<!-- Sign Up -->

<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none">
        <div
            class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
        <div
            class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
            <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalLabel">Modal title</h5>
            <button type="button"
            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body relative p-4">
            Modal body text goes here.
        </div>
        <div
            class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
            <button type="button" class="modal-close" data-bs-dismiss="modal">Close</button>
            <button type="button" class="modal-save">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Sign In -->

<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="signinModal" tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none">
        <div
            class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
        <div
            class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b
            border-gray-200 rounded-t-md">
            <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalLabel">Modal title</h5>
            <button type="button"
            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none
            opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75
            hover:no-underline"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body relative p-4">
            Modal body text goes here.
        </div>
        <div
            class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t
            border-gray-200 rounded-b-md">
            <button type="button" class="modal-close" data-bs-dismiss="modal">Close</button>
            <button type="button" class="modal-save">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!--  -->


<nav class="bg-gray-800 py-6">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="flex-1 flex items-center justify-between sm:items-stretch">
            <div class="flex-shrink-0 flex items-center">
                <h1 class="text-white text-2xl uppercase font-semibold">SAMP Airways</h1>
                <img src="assets/logo.png" alt="SAMP Airways" class="h-12 w-auto">
            </div>
            <div class="hidden md:block">
                <div class="flex space-x-4">
                    <a class="cursor-pointer hover:bg-gray-900 hover:text-white bg-gray-900 text-white px-3 py-2 rounded-md text-base font-medium" *ngIf="!userLoggedIn" data-bs-toggle="modal" data-bs-target="#signupModal">SignUp</a>
                    <a class="cursor-pointer hover:bg-gray-900 hover:text-white bg-gray-900 text-white px-3 py-2 rounded-md text-base font-medium" *ngIf="!userLoggedIn" data-bs-toggle="modal" data-bs-target="#signinModal">Login</a>
                    <a class="hover:bg-gray-900 hover:text-white bg-gray-900 text-white px-3 py-2 rounded-md text-base font-medium" *ngIf="userLoggedIn">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<body class="flex-grow">
    <router-outlet></router-outlet>
</body>

<footer class="w-full bg-gray-800 bottom-0 text-[#ffffff] fixed">
    <div class="max-w-3xl mx-auto py-6 flex items-center justify-center">
        <h1>Thank you for visiting SAMP Airlines Website</h1>
    </div>
</footer>
